<header class="header bg-dark-purple" role="banner">
  <div class="wrap">
    <div class="title">
      <div class="row center-xs">
        <div class="col-xs">
          <h1>MAKE LOGGING GREAT AGAIN</h1>
          <p>Sign up for superquick logging on Ruby on Rails, Node, Elixir & Go</p>
        </div>
      </div>
      <div class="row center-xs ">
        <div class="col-xs-6">
          <div class="row end-xs">
            <div class="col-xs">
              <a href="#sign up">
                <button class="button"><h6>SIGN UP</h6></button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row start-xs">
            <div class="col-xs">
              <a href="#watch video">
                <img src="assets/img/watch video.png"/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="header-triangles">
      </div>
    </div>
    <img class="lumberjack-laptop" src="assets/img/lumberjack.png"/>
  </div>
</header>