---
layout: default
---

<!-- Hero Section -->
{% include home/hero.html %}

<main class="main pt7-l pt7-m pt-0" role="main">
  <!-- Features Section -->
  {% include home/features.html %}

  <!-- Demo Section-->
  {% include home/demo.html %}

  <!-- How It Works -->
  {% include home/how-it-works.html %}

  <!-- Installation -->
  {% comment %}
  {% include home/installation.html %}
  {% endcomment %}

  <!-- Customers -->
  {% include home/customers.html %}

  <!-- Pricing -->
  {% include home/pricing.html %}

  <!-- FAQ -->
  {% include home/faq.html %}

  <!-- Stats -->
  {% include home/stats.html %}
</main>

<script src="{{ site.baseurl }}/assets/js/animation.js"></script>