<footer class="db dt-l w-100 border-box pa3 bg-whisper bt b--snuff pb3 pb0-l">
  <div class="w-100 mw9-l center flex items-center-l flex-row-l flex-column justify-center">
    <a href="/" class="db dtc-l v-mid mid-gray link dim mr4 tc tl-l mb2 mb0-l" href="#" title="Home">
      {% include logo.html color="#5F53AE" %}
    </a>
    <div class="db dtc-l v-mid link w-100 w-25-l tc tl-l mb2 mb0-l">
      <a href="https://www.linkedin.com/company/timber.io" target="_blank"><img src="/assets/img/linkedin.png" class="mw2 mh2 grow" alt="footer logo"></a>
      <a href="https://www.facebook.com/timberdotio/" target="_blank"><img src="/assets/img/facebook.png" class="mw2 mh2 grow" alt="footer logo"/></a>
      <a href="https://twitter.com/timberdotio" target="_blank"><img src="/assets/img/twitter.png" class="mw2 mh2 grow" alt="footer logo"/></a>
    </div>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
      {% for link in site.footer %} 
        <a href="{{ link.url }}" title="{{link.title}}" class="link dim purple fw6 f7 logan dib mr3 mr4-l ttu tracked fw5 tk-futura-pt">{{link.title}}</a>
      {% endfor %}
    </div>
  </div>
</footer>


<!-- <div class="site-copy">&copy; {{ site.time | date: '%Y' }}<span class="site-author">{{ site.author }}</span></div> -->

<!-- <ul>
  {% if site.email %}
  <li><a href="mailto:{{ site.email }}">Contact</a></li>
  {% endif %}

  {% if site.github_username %}
  <li><a target="_blank" rel="external" href="https://github.com/{{ site.github_username }}">Github</a></li>
  {% endif %}

  {% if site.twitter_username %}
  <li><a target="_blank" rel="external" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
  {% endif %}
</ul> -->

{% if page.syntax %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css">
{% endif %} 

<!-- Slim version of jQuery 3.0 -->
<script src="https://code.jquery.com/jquery-3.0.0.slim.min.js"></script>

<!-- Slick Carousel -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<!-- Homepage Video Modal -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/magnific.js"></script>

<!-- Custom JS -->
<script src="{{ site.baseurl }}/assets/js/progress.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<!-- Google Analytics -->
{% if site.segment_key %}
  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"s3.amazonaws.com/files.timber.io/js/timber.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
    analytics.load("{{ site.segment_key }}");
    analytics.page();
    }}();
  </script>
{% endif %}

<!-- Wistia Embed Code -->
<script src="//fast.wistia.com/embed/medias/hztfyr2ra5.jsonp" async></script>
<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<span class="wistia_embed wistia_async_hztfyr2ra5 popover=true popoverAnimateThumbnail=true popoverContent=link" style="display:inline">
  <a href="#"></a>
</span>