<div class="wrap">
  <nav class="header__nav row between-xs">
    <div class="col-xs-2 header__nav__logo">
      <a href="/" class="header__nav__logo">
        <img src="assets/img/logo@2x.png" alt="logo"/>
      </a>
    </div>
    <div class="col-med-2">
      <div class="header__nav__links">
        <a href="#features" class="header__nav__links__link">Features</a>
        <a href="#pricing" class="header__nav__links__link">Pricing</a>
        <a href="#about" class="header__nav__links__link">About</a>
        <a href="#contact" class="header__nav__links__link header__nav__links__link--active">Contact</a>
      </div>

      <div class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>
  </nav>
</div>