<div class="wrap">
  <nav class="nav row between-xs">
    <div class="col-xs-6 nav__logo">
      <a href="/" class="nav__logo">
        <img src="assets/img/logo@2x.png" alt="logo"/>
      </a>
    </div>
    <div class="col-xs-6">
      <div class="row end-xs">
        <div class="nav__links">
          
          {% for link in site.navigation %} 
            {% assign active = nil %}
            {% assign base_class = "nav__links__link" %}

            {% if page.url contains link.url %}
              {% assign active = "nav__links__link--active" %}
            {% endif %}

            <a href="{{ link.url | prepend: site.baseurl }}" class="{{base_class | append: active }}">{{link.title}}</a>
          {% endfor %}

        </div>

        <div class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </nav>
</div>