<nav class="db dt-l w-100 border-box pa4 bg-dark-purple tk-futura-pt tracked">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
    <img src="../assets/img/logo@2x.png" class="dib w6" alt="Timber.io | Logging Made Useful">
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    {% for link in site.navigation %} 
      {% assign active = nil %}
      {% assign base_class = "link dim white f6 dib mr3 mr4-l ttu tracked fw5 tk-futura-pt" %}

      {% if page.url contains link.url %}
        {% assign active = "nav__links__link--active" %}
      {% endif %}

      <a href="{{ link.url | prepend: site.baseurl }}" class="{{base_class | append: active }}" title="{{link.title}}">{{link.title}}</a>
    {% endfor %}
  </div>
</nav>
