<article class="bb b--black-10">
  <a href="{{ post.url | prepend: site.baseurl }}" class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
    <div class="flex flex-column flex-row-ns">
      <div class="mr3-ns mb4 mb0-ns w-100 w-40-ns h5 image-wrapper br2 truncate">
        <img src="{{ post.image }}" class="db h-100 w-100" alt="Photo of a whale's tale coming crashing out of the water.">
      </div>
      <div class="w-100 w-60-ns pl3-ns">
        <h1 class="f3 fw6 tk-futura-pt mt0 lh-title pr5">{{post.title}}</h1>
        <time class="post-date" datetime="{{ post.date }}">{{ post.date | date_to_long_string }} - {{ post.date | timeago }}</time>
        <p class="post-desc tk-source-sans-pro f6 f5-l lh-copy mt3">{% if post.desc %}{{ post.desc }}{% else %}{{ post.content | strip_html | truncatewords: 40 }}{% endif %}</p>
        <p class="post-desc tk-source-sans-pro f6 f5-l v-mid">
          <img src="{{ author.gravatar }}?s=30" class="br-100 mr2" /> {{ author.name }}
        </p>
      </div>
    </div>
  </a>
</article>