<article class="bb b--black-10">
  <a href="{{ post.url | prepend: site.baseurl }}" class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
    <div class="flex flex-column flex-row-ns">
      <div class="mr3-ns mb4 mb0-ns w-100 w-40-ns h5 image-wrapper br2 truncate">
        <img src="{{ post.image }}" class="db h-100 w-100" alt="Photo of a whale's tale coming crashing out of the water.">
      </div>
      <div class="w-100 w-60-ns pl3-ns">
        <h1 class="f3 fw6 tk-futura-pt mt0 lh-title pr5">{{post.title}}</h1>
        <time class="post-date" datetime="{{ post.date }}">
        {% assign d = post.date | date: "%-d" %}
        {% assign m = post.date | date: "%B" %}
        {% case m %}
          {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
          {% when 'September' %}Sept.
          {% else %}{{ post.date | date: "%b" }}.
          {% endcase %}
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
        {{ post.date | date: "%Y" }}
        </time>
        <p class="post-desc tk-source-sans-pro f6 f5-l lh-copy mt3">{% if post.desc %}{{ post.desc }}{% else %}{{ post.content | strip_html | truncatewords: 50 }}{% endif %}</p>
        <p class="post-desc tk-source-sans-pro f6 f5-l">Posted by {{ author.name }}</p>
      </div>
    </div>
  </a>
</article>