.demo {
	background-color: #342e62;

	.col-xs {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 10px;
	}

	.row center-xs {
		padding-left: 10%;
		padding-right: 10%;
	}

	h2 {
		color: $white;
		font-size: 2em;
		letter-spacing: 1px;
		margin-top: 55px;
		margin-bottom: 15px;
	}

	p {
		margin: 0 auto;
		color: $white;
		letter-spacing: 1px;
	}

	.subtitle {
		margin-bottom: 20px;
	}

	.fade-text {
    	opacity: .5;
    }

    .button-container {
    	margin: 0 auto;
    	margin-bottom: 15px;
    }

	button {
		display: inline-block;
		background-color: #2f2958;
		transform: skew(-30deg);
		border-radius: 0px;
		margin-top: 30px;
		padding-left: 1.1em;
		margin-right: 1.1em;


    	@media only screen and (max-width: 800px) {
			display: block;
			margin: 0 auto;
			width: 220px;
			margin-top: 25px;
		}
	}

	button:hover {
		background-color: #1a1731;

		.circle {
			background-color: #2f2958;
		}
	}

	.circle {
		background-color: #211d3d;
		width: 23px;
		height: 23px;
		margin-right: 8px;
		border-radius: 100%;
	}

/*Fix circles around numbers*/

	button p {
		margin-top: 0px;
		margin-bottom: 0px;
		transform: skew(30deg);
		text-align: center;
	}

	img {
		padding-top: 20px;
		width: 52%;
		margin-bottom: 90px;
	}
}


