footer {
    padding: 1rem 0 1rem;
    background: #fff;
    padding-left: 70px;

    img {
        text-decoration: none;
        width: 70px;
    }

    .footer__nav__links {
        margin-top: 40px;
        overflow: hidden;

        @media only screen and (max-width: 966px) {
            display: flex;
            flex-direction: column;
        }
    }

    .footer__links {
        text-decoration: none;
        white-space: nowrap;
        padding-left: 30px;

        @media only screen and (max-width: 966px) {
            padding-left: 0px;
            padding-top: 23px;
        }
    } 

    .footer__logos {
        display: flex;
        flex-direction: row;
        padding-right: 70px;
        margin-top: 24px;
        margin-bottom: 30px;

        @media only screen and (max-width: 966px) {
            flex-direction: column;            
        }
    }

    .footer__logos a {
        padding-left: 10px;
        width: 75px;
        height: 75px;

        @media only screen and (max-width: 966px) {
            right: 80px;         
        }
    }

    a:hover {
        transition: .3s;
        opacity: .8;
    }
}

