.installation {
	background-color: #15132C;

	.col-xs {
		margin-right: 5px;
	}

	h2 {	
		color: $white;
		font-size: 2em;
		letter-spacing: 2px;
		margin-bottom: 70px;
	}

	.installation__left-group {
		padding-left: 110px;
	}

	.installation__right-group {
		padding-right: 110px;
	}

	h4 {
		color: $white;
		font-size: 1.3em;
		padding-left: 50px;
		margin-bottom: 30px;
	}

	.installation__left-paragraph {
		color: $white;
		margin-left: 50px;
		width: 70%;
	}


	.installation__buttons-mar {
		margin-top: 52px;
		margin-left: 15px;
	}

	.installation__buttons-mar button {
		width: 150px;
		background-color: $white;
		padding-left: 20px;
		padding-right: 20px;
		margin-right: 15px;
	}

	.installation__buttons-mar button:hover {
		background-color: #c52f39;
		
		h6 {
			color: $white;
		}
	}

	.installation__no-pad {
		padding-left: 0px;
		padding-right: 0px;
	}

	.installation__buttons-left {
		margin-left: 50px;
		margin-right: 100px;
	}

	.installation__buttons-left button {
		height: 35px;
	}

	.installation__buttons-left h6 {
		color: #5d5881;
		width: 70px;
	}

	.installation__buttons-right {
		margin-right: 0px;
		margin-left: 60px;
	}

	.installation__buttons-right .col-xs {
		padding-right: 0px;
	}

	.installation__buttons-right button {
		background-color: #2b2157;
		height: 27px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 17px;
		padding-right: 17px;
		margin-right: 10px;
	}

	.installation__buttons-right button:hover {
		background-color: $purple-secondary;
	}

	.installation__buttons-right h6 {
		color: $white;
	}

	button {
		border-radius: 30px;
		margin-bottom: 15px;
	}

	button h6 {
		margin: auto;
		text-align: center;
	}

	img {
		width: 100%;
	}
}



