.log-conversion {
	background-color: #201841;
	
	.col-xs {
		padding-left: 60px;
		padding-right: 60px;
	}

	h2 {	
		color: $white;
		font-size: 2em;
		letter-spacing: 1px;
		margin-top: 100px;
		margin-bottom: 50px;
	}

	.row-item {
		display: inline-block;
		width: 30%;
		padding: 50px;
		padding-top: 20px;

		@media only screen and (max-width: 800px) {
			display: block;
			margin-right: 60px;
			margin-left: 60px;
			padding: 0px;
			width: 300px;
		}
	}

	h4 {
		color: $white;
		text-align: center;
	}

	p {
		color: $white;
		text-align: center;
	}

	.fade-text {
    	opacity: .5;
    }

	img {
		width: 90%;
		margin: auto;
		margin-bottom: 30px;
	}

	.log-conversion__num-image {
		width: 50px;
		height: 50px;
		margin-top: 30px;
	}
}
