#background-waves {
	background: url("../../../../assets/img/features-demo border.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 240px;

	@media only screen and (min-width: 1940px) {
		min-height: 400px;
	}
}

#install-top {
	background: url("../../../../assets/img/installation top.png");
	background-size: 100%, cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 178px;
	min-width: 100%;
}

#install-bottom {
	background: url("../../../../assets/img/installation bottom.png");
	background-size: 100%, cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 194px;
	min-width: 100%;
}

#pricing-bottom {
	background: url("../../../../assets/img/pricing bottom.png");
	background-size: 100%, cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 120px;
	min-width: 100%;
}

#pfooter-top {
	background: url("../../../../assets/img/pre-footer top.png");
	background-size: 100%, cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 120px;
	min-width: 100%;
}


