body {
	font-family: Montserrat, "Futura PT", Helvetica, sans-serif;
	position: relative;

	.futura-heavy { font-weight: 700; 
	}

	.uppercase { text-transform: uppercase; 
	}
	
	.wrap {
		box-sizing: border-box;
    	max-width: 1280px;
	}	

	.fade-text {
    	opacity: .8;
    }	
}




