// Overrides for tachyons classes

.w5 {
  width: 5rem;
}

.w6 {
  width: 6rem;
}

.w7 {
  width: 7rem;
}

.f7 {
  font-size: .75rem;
}

@media #{$breakpoint-large} {
  .bottom--50-l {
    bottom: -50%;
  }
}

.skew-30 {
  transform: skew(30deg);
}

.skew--30 {
  transform: skew(-30deg);
}

.outline-none {
  outline: none !important;
}

blockquote {
  border-left: 10px solid #357edd;
  font-family: 'Alegreya', serif;
  font-style: normal;
  letter-spacing: .1em;
  line-height: 1.5;
  color: rgba(0, 0, 0, .9);
  padding: 0 1rem;
  margin: 20px 0;
  font-size: 1.5rem;
}

blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

// @media screen and (min-width: 30em) and (max-width: 60em) {
//   blockquote {
//     font-size: 1.25rem;
//   }
// }

// @media screen and (min-width: 60em) {
//   blockquote {
//     font-size: 1.5rem;
//   }
// }

code {
  background: #F4F3FB;
  font-size: .75em;
}