// Overrides for tachyons classes

.w5 {
  width: 5rem;
}

.w6 {
  width: 6rem;
}

.w7 {
  width: 7rem;
}

.f7 {
  font-size: .75rem;
}

@media #{$breakpoint-large} {
  .bottom--50-l {
    bottom: -50%;
  }
}

.skew-30 {
  transform: skew(30deg);
}

.skew--30 {
  transform: skew(-30deg);
}

.outline-none {
  outline: none !important;
}

blockquote {
  border-left: 10px solid #357edd;
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1.5;
  color: rgba(0, 0, 0, .9);
  padding: 1rem;
  margin: 20px 0;
  font-size: 1.25rem;
  background: #f9f9f9;
  margin: 1.5em 0;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

// @media screen and (min-width: 30em) and (max-width: 60em) {
//   blockquote {
//     font-size: 1.25rem;
//   }
// }

// @media screen and (min-width: 60em) {
//   blockquote {
//     font-size: 1.5rem;
//   }
// }

code {
  background: #F4F3FB;
  font-size: .75em;
}

.post a:link, .post a:visited {
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.6) 50%,rgba(0,0,0,0) 50%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.07em;
}

#post-meta a:link {
  color: #FFF;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: $koamaru;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: $koamaru;
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: $koamaru;
  width: 50%;
  display: block;
  height: inherit;
}

