<div class="blog__subscribe pa4">
  <h3 class="mv0">P.S. Can we send you an email?</h3>

  <p>About once a week we'll send an email with our latest and greatest posts.</p>

  <form class="" action="//timber.us13.list-manage.com/subscribe/post?u=d940416df2301557f8f160288&amp;id=49cdac46ba" method="post" target="_blank" novalidate>
    <div><input type="email" value="" name="EMAIL" placeholder="email address" class="db w-100 pv2 ph3 br2 email-field" required></div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d940416df2301557f8f160288_49cdac46ba" tabindex="-1" value=""></div>
    <div class="mt3"><input type="submit" value="Subscribe" name="subscribe" class="submit br2 pv2 ph3"></div>
  </form>
</div>