.button {
	padding: 0.7rem 2rem;
	height: 45px;
	border: none;
	color: $white;
	letter-spacing: 2px;
	background-color: $purple-secondary;
	text-transform: uppercase;
	border-radius: 45px;
}
.button:hover {
	color: $white;
	background-color: #978AFF;
}