$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$white: #FFF;
$purple: #5f54af;
$purple-secondary: #7368c5; /* Purple from PSD, not brand guide */
$text: #17132d;
$orange: #ef9e5f;
$light-purple: #f4f3fb;