.about__hero {
  background-image: url("/assets/img/about-bg.png"), linear-gradient(#130F21, #22213F);
  background-size: cover;
	background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 120vh;

  @media only screen and (max-width: 1230px) {
    height: 100vh;
    background-position: 50% 0px;
	}

  @media only screen and (max-width: 950px) {
    height: 100vh;
    background-position: 50% 50px;
	}

  @media only screen and (max-width: 850px) {
    height: 100vh;
    background-position: 50% 60px;
	}
}