.blog__hero {
  background-size: cover;
  background: url("/assets/img/blog_header-2.png"), linear-gradient(#130F21, #22213F);
	background-repeat: no-repeat;
  background-position: center 0px;

  @media only screen and (max-width: 900px) {
    background-position: 100% 0;
	}

  @media only screen and (max-width: 500px) {
    background: linear-gradient(#130F21, #22213F);
	}
}

.blog__hero--tag {
  background: linear-gradient(#130F21, #22213F);
}