// Hero Section

.home__hero {
  background-image: url("/assets/img/background_triangles.png"), linear-gradient(#130F21, #22213F);
  background-size: 100%, cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.home__hero__lumberjack {
  background-image: url("/assets/img/lumberjack.png");
}

// Demo Section

.home__demo__carousel {
  
}