// Hero Section

.home__hero {
  background-image: url("/assets/img/background_triangles.png"), linear-gradient(#130F21, #22213F);
  background-size: 100%, cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

#video-link svg {
  fill: #FFF;
  height: 25px;
  width: 25px;
}

.home__hero__lumberjack {
  background-image: url("/assets/img/lumberjack.png");
}

// Demo Section

.home__demo__carousel {
  
}

// Stats Section

.home__stats {

  img {
    pointer-events: none;
  }
  // background-image: url("/assets/img/lumberjack-footer.png");
  // background-repeat: no-repeat;
  // background-position: 100% 100%;
  // background-size: 50%;
}