.pricing__hero {
  background-size: cover;
  background: url("/assets/img/mountains.png"), linear-gradient(#130F21, #22213F);
	background-repeat: no-repeat;
  background-position: bottom left;
}

.pricing__plans {
  blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 1.75;
    color: rgba(0, 0, 0, .9);
    font-size: 1.25rem;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  .wrapper {
    border: 2rem solid #f4f3fb;
    box-sizing: border-box;

    table {
      tr {
        > td,
        > th {
          background: white;
          color: rgba(95,87,173, 0.7);
          padding: 1em 2em;
          border-bottom: 1px solid #f4f3fb;
        }

        > th,
        > td:first-child {
          color: rgba(95,87,173, 1);
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }
}