.pricing__hero {
  background-size: cover;
  background: url("/assets/img/mountains.png"), linear-gradient(#130F21, #22213F);
	background-repeat: no-repeat;
  background-position: bottom left;
  height: 40vh;
}