<section class="about__investors bg-white pa4 pa3-ns" id="investors">
  <div class="mw9-l center flex-l items-center justify-around tc">
    <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="/assets/img/investors/ludlow.png" alt="ludlow"/>
    </div>
     <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="/assets/img/investors/nextview.png" alt="nextview"/>
    </div>
     <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="/assets/img/investors/notation.png" alt="notation"/>
    </div>
    <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="/assets/img/investors/wonder.png" alt="wonder"/>
    </div>
  </div>
</section>