---
layout: default
---

{% comment %}inspiration from https://github.com/minddust/minddust.github.io/blob/master/_layouts/post.html{% endcomment %}

{% assign post = page %}
{% assign author = site.data.authors[post.author] %}

{% if post.tags.size > 0 %}
  {% capture tags_content %} <span class="f6 bg-light-gray pa1 mr2 icon-price-tag{% if post.tags.size > 1 %}s{% endif %}">Tagged with: </span> {% endcapture %}
  {% for post_tag in post.tags %}
    {% if post.url contains "blog" %}
      {% assign tag = site.blog_tags | where: "slug", post_tag %}
    {% else %}
      {% assign tag = site.changelog_tags | where: "slug", post_tag %}
    {% endif %}
    {% if tag %}
      {% assign tag = tag[0] %}
      {% capture tags_content_temp %}{{ tags_content }}<a class="f6 link dim br-pill ph3 pv1 mr2 dib white bg-purple fw6" href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %} {% endif %}{% endcapture %}
      {% assign tags_content = tags_content_temp %}
    {% endif %}
  {% endfor %}
{% endif %}

<header class="post__hero header relative" role="banner">
  <div class="mw8 center ph3 ph5-ns tc br2 pv6 white mw8-l tk-source-sans-pro">
    <h1 class="fw6 f3 f2-ns lh-title mt0 mb3 tk-futura-pt ttu tracked">{{ post.title }}</h1>

    <div class="post-deets cf">
      <img src="{{ author.gravatar }}?s=60" class="gravatar" />
      <div class="post-author">{{ author.name }}</div>
      <div class="post-auth-bio">{{ author.title }}</div>
      <div class="post-date">
        {{ post.date | date_to_long_string }} -

        {% assign words = content | number_of_words %}
        {% if words < 360 %}
          1 min
        {% else %}
          {{ words | divided_by:180 }} min
        {% endif %}
        read
    </div>
  </div>
</header>

<div class="post tk-source-sans-pro lh-copy">
  <article class="post-article pa3 pa4-ns ph6-l mw8 center f4">
    <div class="post-content pretty-links">
      {{ content }}
    </div>
   <p id="post-meta">{{ tags_content }}</p>

   <div class="email-collector mt5 pa4">
      <h3 class="ma0">P.S. Can we send you an email?</h3>

      <p>About once a week we'll send an email with our latest and greatest posts.</p>

      <form action="//timber.us13.list-manage.com/subscribe/post?u=d940416df2301557f8f160288&amp;id=49cdac46ba" method="post" target="_blank" novalidate>
        <div><input type="email" value="" name="EMAIL" placeholder="email address" class="db email-field" required></div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d940416df2301557f8f160288_49cdac46ba" tabindex="-1" value=""></div>
        <div><input type="submit" value="Subscribe" name="subscribe" class="submit"></div>
      </form>
    </div>
  </article>
</div>