---
layout: default
---

{% comment %}inspiration from https://github.com/minddust/minddust.github.io/blob/master/_layouts/post.html{% endcomment %}

{% assign post = page %}
{% assign author = site.data.authors[post.author] %}

{% if post.tags.size > 0 %}
  {% capture tags_content %} <span class="f6 bg-light-gray pa1 mr2 icon-price-tag{% if post.tags.size > 1 %}s{% endif %}">Tagged with: </span> {% endcapture %}
  {% for post_tag in post.tags %}
    {% assign tag = site.blog_tags | where: "slug", post_tag %}
    {% if tag %}
      {% assign tag = tag[0] %}
      {% capture tags_content_temp %}{{ tags_content }}<a class="f6 link dim br-pill ph3 pv1 mr2 dib white bg-purple fw6" href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %} {% endif %}{% endcapture %}
      {% assign tags_content = tags_content_temp %}
    {% endif %}
  {% endfor %}
{% endif %}

<header class="post__hero header relative" role="banner">
  <div class="mw8 center ph3 ph5-ns tc br2 pv6 white mw8-l tk-source-sans-pro"> 
    <h1 class="fw6 f3 f2-ns lh-title mt0 mb3 tk-futura-pt ttu tracked">{{ post.title }}</h1>
    <time class="post-date" datetime="{{ post.date }}">
    {% assign d = post.date | date: "%-d" %}
    {% assign m = post.date | date: "%B" %}
    {% case m %}
      {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
      {% when 'September' %}Sept.
      {% else %}{{ post.date | date: "%b" }}.
      {% endcase %}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
    {{ post.date | date: "%Y" }}
    </time>
    <span class="ph2"> | </span><span>{{ author.name }}</span>
  </div>
</header>

<div class="post tk-source-sans-pro lh-copy">
  <article class="post-article pa3 pa4-ns ph6-l mw8 center f4">
    <div class="post-content pretty-links">
    <div class="post-content pretty-links">
      {{ content }}
    </div>
   <p id="post-meta">{{ tags_content }}</p>
  </article>
</div>