---
layout: default
---

<header class="post__hero header relative" role="banner">
  <div class="mw8 center ph3 ph5-ns tc br2 pv5 mb5 white mw8-l tk-source-sans-pro"> 
    <h1 class="fw6 f3 f2-ns lh-title mt0 mb3 tk-futura-pt ttu tracked">{{ page.title }}</h1>
    <time class="post-date" datetime="{{ page.date }}">
    {% assign d = page.date | date: "%-d" %}
    {% assign m = page.date | date: "%B" %}
    {% case m %}
      {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
      {% when 'September' %}Sept.
      {% else %}{{ page.date | date: "%b" }}.
      {% endcase %}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
    {{ page.date | date: "%Y" }}
    </time>
    <span class="ph2"> | </span><span>{{ page.author }}</span>
  </div>
</header>

<div class="post tk-source-sans-pro lh-copy">
  <article class="post-article pa3 pa4-ns ph6-l mw8 center f4">
    <div class="post-content pretty-links">
    <div class="post-content pretty-links">
      {{ content }}
    </div>
  </article>
</div>