<section class="home__customers bg-white pa4 pa3-ns" id="customers">
  <div class="mw9-l center flex-l items-center justify-around tc">
    <div class="w-auto-l w-100 mw5-l mv4 mv0-ns">
      <img style="max-height: 3em;" src="assets/img/codecorps.png" id="nike" alt="nike logo"/>
    </div>
     <div class="w-auto-l w-100 mw5-l mv4 mv0-ns">
      <img style="max-height: 3em;" src="assets/img/argo.png" alt="dropbox logo"/>
    </div>
     <div class="w-auto-l w-100 mw5-l mv4 mv0-ns">
      <img style="max-height: 3em;" src="assets/img/opencollective.png" id="airbnb"alt="airbnb logo"/>
    </div>
    <div class="w-auto-l w-100 mw5-l mv4 mv0-ns">
      <img style="max-height: 3em;" src="assets/img/dev-to.png" alt="square logo"/>
    </div>
    <div class="w-auto-l w-100 mw5-l mv4 mv0-ns">
      <img style="max-height: 3em;" src="assets/img/perf.png" alt="facebook logo"/>
    </div>
  </div>
</section>