<section class="home__customers bg-white pa4 pa3-ns" id="customers">
  <div class="mw9-l center flex-l items-center justify-around tc">
    <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="assets/img/nike.png" id="nike" alt="nike logo"/>
    </div>
     <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="assets/img/dropbox.png" alt="dropbox logo"/>
    </div>
     <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="assets/img/airbnb.png" id="airbnb"alt="airbnb logo"/>
    </div>
    <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="assets/img/square.png" alt="square logo"/>
    </div>
    <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="assets/img/facebook.png" alt="facebook logo"/>
    </div>
    <div class="w-auto-l w-100 mw4-l mv4 mv0-ns">
      <img src="assets/img/dell.png" id="dell" alt="dell logo"/>
    </div>
  </div>
</section>