<section class="home__customers bg-white pa4" id="customers">
  <div class="mw9-l center flex items-center justify-around">
    <div class="col-xs">
      <img src="assets/img/nike.png" id="nike" alt="nike logo"/>
    </div>
    <div class="col-xs">
      <img src="assets/img/dropbox.png" alt="dropbox logo"/>
    </div>
    <div class="col-xs">
      <img src="assets/img/airbnb.png" id="airbnb"alt="airbnb logo"/>
    </div>
    <div class="col-xs">
      <img src="assets/img/square.png" alt="square logo"/>
    </div>
    <div class="col-xs">
      <img src="assets/img/facebook.png" alt="facebook logo"/>
    </div>
    <div class="col-xs">
      <img src="assets/img/dell.png" id="dell" alt="dell logo"/>
    </div>
  </div>
</section>