<section class="home__demo bg-purple pb6" id="demo">
  <div id="background-waves"></div>
  <div class="mw9-l center">
    <h1 class="tc p2 ttu white fw6 f2 mt1 mb1 tracked tk-futura-pt">Demo</h1>
    <p class="center tc white-70 f5 tk-source-sans-pro fw3 mw6 lh-copy mt3 fw4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="home__demo_carousel">
      <div class="home__demo__carousel__nav tc mw8 center mt5 mb4">
        <button class="bg-paua skew--30 outline-none bn pa2 pr4 pl4 white ml3 mr3 tk-futura-pt tracked fw5 mb3" data-position="1">
          <div class="skew-30 flex justify-center items-center">
            <span class="br-100 bg-midnight w2 h2 dib tc v-mid pa2 mr2 flex justify-center items-center tracked-tight"/>1</span>
            <span class="ttu f6 tk-source-sans-pro fw6">Tailing</span>
          </div>
        </button>
        <button class="bg-paua skew--30 outline-none bn pa2 pr4 pl4 white ml3 mr3 tk-futura-pt tracked fw5 mb3" data-position="1">
          <div class="skew-30 flex justify-center items-center">
            <span class="br-100 bg-midnight w2 h2 dib tc v-mid pa2 mr2 flex justify-center items-center tracked-tight"/>2</span>
            <span class="ttu f6 tk-source-sans-pro fw6">Clickable</span>
          </div>
        </button>
        <button class="bg-paua skew--30 outline-none bn pa2 pr4 pl4 white ml3 mr3 tk-futura-pt tracked fw5 mb3" data-position="1">
          <div class="skew-30 flex justify-center items-center">
            <span class="br-100 bg-midnight w2 h2 dib tc v-mid pa2 mr2 flex justify-center items-center tracked-tight"/>3</span>
            <span class="ttu f6 tk-source-sans-pro fw6">Context</span>
          </div>
        </button>
        <button class="bg-paua skew--30 outline-none bn pa2 pr4 pl4 white ml3 mr3 tk-futura-pt tracked fw5 mb3" data-position="1">
          <div class="skew-30 flex justify-center items-center">
            <span class="br-100 bg-midnight w2 h2 dib tc v-mid pa2 mr2 flex justify-center items-center tracked-tight"/>4</span>
            <span class="ttu f6 tk-source-sans-pro fw6">Facets</span>
          </div>
        </button>
      </div>
      <div class="home__demo__carousel__content">
        <div><img class="mw7 center"src="assets/img/demo img.png" alt="animated demo"/></div>
        <div><img class="mw7 center" src="assets/img/demo img.png" alt="animated demo"/></div>
        <div><img class="mw7 center" src="assets/img/demo img.png" alt="animated demo"/></div>
        <div><img class="mw7 center" src="assets/img/demo img.png" alt="animated demo"/></div>
      </div>
    </div>
  </div>
</section>