<section class="home__demo mt5 mw9-l center" id="demo">
  <h1 class="tc p2 ttu black fw6 f2 mt1 tracked tk-futura-pt">Demo</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="row center-xs button-container">
    <div class="col-xs">
      <button>
        <p><span class="circle"/>1</span> ACTIVITY</p>
      </button>
      <button>
        <p><span class="circle"/>2</span> REQUESTS</p>
      </button>
      <button>
        <p><span class="circle"/>3</span> DASHBOARD</p>
      </button>
      <button>
        <p><span class="circle"/>4</span> TASKS</p>
      </button>
    </div>
  </div>
  <img src="assets/img/demo img.png" alt="animated demo"/>
</section>