<header class="home__hero header bg-dark-purple vh-100 relative" role="banner">
  <article class="mw8 center ph3 ph5-ns tc br2 pv5 mb5 white mw9-l">
    <h1 class="fw6 f4 f2-ns lh-title mt0 mb3 tk-futura-pt ttu tracked">
      Master your apps with structured logs.
    </h1>
    <h2 class="fw4 f5 lh-copy mt0 mb3 o-50 tk-source-sans-pro tracked">
      Complete insight into your applications with context and structured logs.
    </h2>
    <div class="mt4">
      <a class="f6 br-pill white bg-light-purple ttu tk-source-sans-pro no-underline grow pv3 ph4 dib mr3 tracked"
        href="#">
        Sign Up
      </a>
      <a class="f6 br-pill white no-underline ba grow pv3 ph4 tk-source-sans-pro dib mr3 bottom tracked"
        href="#">
        Learn More
      </a>
    </div>
  </article>
  <div class="absolute relative-ns bg-bottom bottom--2 bottom-2-ns contain h-100 w-100 home__hero__lumberjack" />
</header>