<section class="howitworks" id="howitworks">
  <div class="container">
    
    <h1 class="tc p2 ttu white fw6 f2 mt1 mb1 tracked tk-futura-pt">How it works</h1>

    <div class="animation-wrap">
      <div id="bodymovin" class="animation"></div>

      <div class="info info--one mt3">
        <div class="info__numeral tk-futura-pt">1</div>
        <div class="info__content">
          <h4 class="info__title f4 tk-futura-pt ttu fw5 tracked mt0">Tons of logs!</h4>
          <p class="info__text tk-source-sans-pro fw3">Modern apps generate massive amounts of logs, but making sense of them all is a real problem.</p>
        </div>
      </div>

      <div class="info info--two mt3">
        <div class="info__numeral tk-futura-pt">2</div>
        <div class="info__content">
          <h4 class="info__title f4 tk-futura-pt ttu fw5 tracked mt0">We convert logs</h4>
          <p class="info__text tk-source-sans-pro fw3">Timber aggregates and processes logs, augmenting them with invaluable context that helps you understand exactly how your app is performing.</p>
        </div>
      </div>

      <div class="info info--three mt3">
        <div class="info__numeral tk-futura-pt">3</div>
        <div class="info__content">
          <h4 class="info__title f4 tk-futura-pt ttu fw5 tracked mt0">Clean dashboard</h4>
          <p class="info__text tk-source-sans-pro fw3">Once logs have been processed, they're sent to our beautiful dashboard in real-time, allowing you to search and filter with ease.</p>
        </div>
      </div>
    </div>

  </div>
</section>