<section class="home__stats bg-whisper pb7 relative">
  <div id="pfooter-top"></div>
  <div class="mw9-l center pa4 pt5-l tc">
    <h1 class="tc p2 ttu black o-80 fw6 f2 m4 tracked tk-futura-pt mb0">10,000,000 logs sent to Timber last month.</h1>
    <p class="tc tk-source-sans-pro fw4 f5 o-80 mt3 mb4">Complete insight into your applications with context and structured logs.</p>
    <a class="tracked f6 br-pill fw6 white bg-light-purple ba ttu tk-futura-pt no-underline grow pv2 ph4 dib">Sign Up</a>
  </div>
  <img class="absolute right-0 mw7 mt2" src="assets/img/lumberjack-footer.png" alt="timber-lumberjack" />
</section>